@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$bg-color: #F5EFF0;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $bg-color;
  font-size: 20px;
  font-family: "lato", sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 0px 10px;
  background-color: #4652DF;;
  color:white;

  h3 {
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.3s;
  }
}

input{
  cursor: pointer;
}

.quiz-section {
  margin: 100px auto 0 auto;
  max-width: 50%;
  border: 1px solid #4652DF;;
  border-radius: 10px;
  padding: 5px;
}

.options {
  display: flex;
  flex-direction: column;
}

.options-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px 0px;
}

.option-items {
  // border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1px 1px rgba(0,0,0,.35);
  margin: 10px;
  padding: 10px;
}

.qstn {
  line-height: 1.6;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.4);
  margin-top: 10px;
  padding:5px;
}

.btns {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  padding: 20px;
}

.submit-btn {
  margin: inherit;
  border: 1px solid rgb(179, 131, 226);
  width: 100px;
  color: white;
  background-color: rgb(29, 210, 150);
  border-radius: 3px;
  cursor: pointer;
  height:35px;
}

.next-btn {
  @extend .submit-btn;
  background-color: rgb(106, 93, 228);
 
 }

 .submit-btn:hover{
  background-color: rgb(60, 211, 161);
 }

 .next-btn:hover{
  background-color:  rgb(122, 108, 249);
 }

 #pwdErrorMsg{
  color: rgb(255, 0, 0);
 }