@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$bg-color: #4652DF;
$btn-bg: #4652DF;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #F5EFF0;
  font-family: "lato", sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 0px 10px;
  color:white;
  background-color: $bg-color;
}

h3 {
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.3s;

}



label {
  font-size: 25px;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

input {
  border: none;
  color: #444;
  font-size: 1.2rem;
  padding: 0.7rem 3rem;
  border-radius: 2px;
  border-bottom: 1px solid purple;
}

button {
  border: 1px solid rgb(179, 131, 226);
  width: 50%;
  margin: auto;
  height: 35px;
  border-radius: 5px;
  background-color: $btn-bg;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  transform: translateY(-2px)
}

input::placeholder {
  color: $bg-color
}

input:focus {
  outline-color: $bg-color
}

h3:hover {
  transform: translateY(-3px)
}

.left-flex {
  display: flex;
  flex-direction: column;
}

.right-flex {
  display: flex;
  flex-direction: column;
  border:1.8px solid $bg-color;
  border-radius: 10px;
  padding: 25px;
  animation-name: example;
  animation-duration: 0.5s;
  // position: relative;
}

.divider {
  border: 1.5px solid $bg-color;
  height: 500px;
  margin: 0 8vw;
}
.right-flex-hide{
  display: none;
 
}
@keyframes example {
  0% { transform: translateY(0) }
  50% { transform: translateY(-15px) }
  100% { transform: translateY(0) }
}

// footer {
//     position: fixed;
//     left: 0;
//     bottom: 0;
//     width: 100%;
//     background-color: $bg-color;
//     text-align: center;
//  }